.half {
    float: left;
    width: 50%;
    height: 50vh;
    background: #e0c5db;

    .highlight {
        margin-top: 100px;
        margin-left: 30px;
    }
}

.summary {
    height: 120px;
}

.quart {
    float: left;
    width: 25%;
    height: 50vh;
    overflow: hidden;

    .highlight {
        margin-top: 100px;
        margin-left: 30px;
    }
}

section.yy-classes {
    div.quart:nth-child(2){
        background-image: url('https://lh3.googleusercontent.com/BZFbG6YfVxFHaiBWIA-Z2uwsivlpyLrgStWHi7G_B7d5TFgzGy8Xiwit-DRL8cgOSsOeZA1hKdgCGox4wjGD=w1366-h623');
        background-size: cover;
        background-position:80% 50%;
    }
    div.quart:nth-child(3){
        background-image: url('https://lh5.googleusercontent.com/Hq0-VIP7ijLd3Pu0dyEfdAFoaQ8QwX4W7iyEuGHIHW9dghR7JroAA__V4O9yqpwQFGDJHEe8TCIIEXk-Sa--=w1366-h623');
        background-size: cover;
        background-position:50% 50%;
    }

    div:nth-child(4){
        background-image: url('https://lh5.googleusercontent.com/j3wuO0zACfXbwMYi6e4BWEyX4Bm1MTSaA4i5_1WC6nbxnTZ61CZYKNUA4E0ulLBiVqXm1xm9gUv7eqzui1bR=w1366-h623');
        background-size: cover;
        background-position:70% 50%;
    }

    div.quart:nth-child(5){
        background-image: url('https://lh6.googleusercontent.com/AEhTd_QU1R04gq-gDKUlQcwb3pKvBcEqE5TdaguGGuzR8NHHdzfwZavOhD1-mQd4l6gwVz9CfVrQVMyepmpA=w1366-h623-rw');
        background-size: cover;
        background-position:50% 50%;
    }

    div.quart:nth-child(6){
        background-image: url('https://lh5.googleusercontent.com/GnvQC8ewlGbXCggqGAMf3_ELt_4l3skGamR5_NXMnyAfRDuWF5VIx5gUUImwxzDBlOJ1pphr7dB9-uLxUSIl=w1366-h623');
        background-size: cover;
        background-position:70% 50%;
    }
}