.footer {
    width: 100%;
    position: fixed;
    bottom: 20%;
    z-index: -2;
    background: #6c1f55;

    .one-thrd {
        overflow: hidden;
        padding-left: 30px;
        padding-top: 40px;
        float: left;
        width: 33.333%;
        height: 400px;
        border-right: 1px solid #5e2f62;
    }
}