.yy-tech-dev {
    height: 100vh;
    width: 301%;
    overflow: auto;

    .slides {
        width: 33.22%;
        height: 100%;
        float: left;
        text-align: center;
        overflow: hidden;
        background: #e5dde6;
        transition: 1s;

        .desc {
            float: left;
            width: 50%;
            height: 100%;
            word-break: keep-all;

            h3 {
                white-space: nowrap;
                width: 500px;
            }

            p {
                width: 500px;
            }
        }
        .imgdesc {
            float: left;
            width: 50%;
            height: 100%;
            background: #773a7c;

            img {
                width: 350px;
                height: 350px;
                margin-top: 150px;
                filter: invert(100%);//hue
                user-select: none;
                pointer-events: none;
            } 
        }

        .first img {
            width: 420px;
            height: 280px;
        }
    }

    .arrownav {
        position: absolute;
        width: 100%;
        height: 40px;
        padding-top: 10px;
        top: 1000px;

        .fa-arrow-right {
            float: right;
        }
    }
}