.yy-tech-dev {
    height: 100vh;
    width: 301%;
    //overflow-y: hidden;
    overflow-x: auto;

    .slides {
        width: 33.333%;
        height: 100vh;
        display: inline-block;
        text-align: center;
        background: white;

        .desc {
            float: left;
            width: 50%;
            height: 100vh;
        }
        .imgdesc {
            float: left;
            width: 50%;
            height: 100vh;
        }
    }

    .arrownav {
        position: absolute;
        background: red;
        width: 100%;
        height: 40px;
        padding-top: 10px;
        top: 1000px;

        .fa-arrow-right {
            float: right;
        }
    }
}