.yy-teachers {
    .onethird {
        width: 33.333%;
        height: 50vh;
        float: left;
        background: lightpink;
    }
    
    .head {
        padding-left: 30px;
        padding-top: 20px
    }
    
    .foot {
        padding-left: 20px;
        padding-top: 300px;
    }
}