$quotpad: 80px;

.yy-testim {
    .quotes {
        width: 65%;
        height: 100vh;
        float: left;
        background: red;

        h3 {
            padding-left: $quotpad;
            margin-top: 100px;
        }

        i {
            float: right;
            margin-right: 70px;
        }

        #quotes {
            padding-top: 80px;
            padding-left: $quotpad;
            width: 85%;
        }

        #person {
            padding-top: 40px;
            padding-left: $quotpad;
        }
    }
    .aside {
        width: 35%;
        height: 100vh;
        float: left;
        background-image: url('https://cdn.pixabay.com/photo/2016/09/12/16/55/girl-1665173_960_720.jpg');
        background-size: cover;
        background-position:80% 50%;
    }
}