<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header">
    <a href="index.html" title="Home"><img src="" alt="Broken Image"/></a>
      <div class="nav">
        <a href="" id="menu"></a>

        <ul class="navbar">
          <li><a href="">home</a></li>
          <li><a href="">our teachers</a></li>
          <li><a href="">about</a></li>
          <li><a href="">studio tour</a></li>
        </ul>

        <ul id="log_sign">
          <button><a href="">login</a></button>
          <button><a href="">join us</a></button>
        </ul>
      </div>
  </div>

  <div class="container">

    <div class="banner">
      <div class="inner-banner">
        <h3>Are you at home? Traveling maybe?</h3>
        <p>Hey! You can do <span id="title">Yin Yang Yoga</span> anywhere.</p>
      </div>  

      <button id="trial"><a href=""> Start Your Free Trial Here</a></button>
      <button id="learn"><a href="">Or Learn More</a></button>
    </div>
  </div>

  <section class="yy-tech-dev">

  </section>

  <section class="yy-classes">

  </section>

  <section class="yy-testim">

  </section>

  <section class="yy-lm">

  </section>

  <section class="yy-tips">

  </section>

  <section class="yy-teachers">

  </section>

  <section class="yy-lms">

  </section>

  <div class="footer">
    <!--Logo copyr-->
    <div class="onefourth"></div>

    <!--support priv pol, terms cond, faq-->
    <div class="onefourth"></div>

    <!--contact form, social med-->
    <div class="onefourth"></div>
  </div>
</body>
</html>